<h1>Welcome to the AppArena.com App-Template</h1>
<p>
    This is only a Testpage and is called over the demo.js in /js/ directory. In this file is ja DemoView initialization
    and a render
    function call, that calls this templates what you see now. The /js/
    directory is the App main folder. Here you find all app stuff. Views, models, collections, modals, vendor stuff, thr
    router and so on. Modules are installed over bower in the root (/source/) ./modules/ directory.
</p>

<p>
    The app template includes a <a href="http://www.vagrantup.com/">Vagrant</a> configuration. That means, you can start
    this (it's an VirtualBox image) with a
    complete server configuration and start develop, without any locale machine configuration. The Vegrant configuration
    includes an Ubuntu minimal server with PHP 5.3, MySql Server, Apache Webserver, xDebug,
    Xhprof and some envirement settings.
</p>

<h2>Pre-Configuration and install needed sources</h2>

<h3>Install Bower, equirejs and r.js on windows:</h3>
<ol>
    <li>Downlaod nodejs and install it from: <a href="http://nodejs.org/">http://nodejs.org/</a></li>
    <li>
        Open a GIT console and enter
        <ul>
            <li>npm install requirejs -g</li>
            <li>npm install bower -g</li>
        </ul>
    </li>
</ol>

<h3>Get vendor sources:</h3>
<p>
    Open a GIT console, change into the app sources directory and enter:
</p>
<pre>
bower install
</pre>
<p>
    This will install install all depended sources for the main aa-app-template. PLease pay attention, that you change
    the version numbers in the dependencies source file, when you finished development. Take a look into the file
    bower.json in the root directory and configure that for your app.
</p>

<h3>Compile sources:</h3>
<p>
    Open a GIT console, change into the app sources/build directory and enter:
</p>
<pre>
sh ./build.sh
</pre>
<p>
    After that, the r.js compiler starts the compiling process and shrings your app. The result is stored in /dist/. If you use new modules or build some new ones by your own, please configure them in the building file, that is called /build/app.build.js
</p>

<h3>Install new app packages:</h3>
<p>
    Open a GIT console, change into the app sources directory and enter:
</p>
<pre>
bower install &lt;PACKAGENAME&gt; or &lt;URL TO ZIP PACKAGE&gt;
</pre>
<p>
    To save the package to the app install/update process enter:
</p>
<pre>
bower install &lt;PACKAGENAME&gt; or &lt;URL TO ZIP PACKAGE&gt; --save
</pre>