<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <title>{{meta_title}}</title>
    <meta name="description" content="{{meta_description}}" />
    <link rel="canonical" href="{{meta_canonical}}" />

    <link type="text/css" rel="stylesheet" href="{{layout_css}}" />

    <!--[if gte IE 9]>
    <link type="text/css" rel="stylesheet" href="css/ie9.css" />
    <![endif]-->
</head>
<body class="background-dark {{layout_body_class}}" data-instance="{{app_i_id}}" data-base-path="{{app_base_path}}" data-url-path="{{app_url_path}}">

<div class="content container">
    <div class="content-wrapper">
        {{{app_content}}}
    </div>

    <div class="row">
        <div class="col-md-12">
            <section class="widget">
                {{{app_branding_footer}}}
            </section>
        </div>
    </div>
</div>

</body>
</html>