<li id="nav-login" class="link-element {{show_login}}">
    <a href="#/page/auth/modal"><i class="fa fa-sign-in"></i> {{login}}</a>
</li>
<li id="nav-admin" class="nav-admin link-element {{show_admin}}">
    <a href="#" class="btn btn-danger"><i class="fa fa-wrench"> </i> {{admin}}</a>
</li>
<li id="nav-profile" class="nav-profile {{show_profil}}">
    <a href="#page/profile"><img src="https://secure.gravatar.com/avatar/{{user}}?s=40&amp;d=mm" alt="avatar"></a>
</li>
<li class="link-element nav-logout {{show_logout}}">
    <a href="#page/auth/logout"><i class="fa fa-sign-out"></i> {{logout}}</a>
</li>