<div class="menu-header">
    <!--<div class="visible-xs">
        xs
    </div>
    <div class="visible-sm">
        sm
    </div>
    <div class="visible-md">
        md
    </div>
    <div class="visible-lg">
        lg
    </div>-->
    <div class="navbar">
        <nav id="navbar-menu" class="navbar-menu nav-collapse collapse" style="height: auto;">
            <ul id="menu-nav_company" class="nav navbar-nav col-md-12">
                <li class="company_logo hidden-xs">
                    <a class="navbar-brand" href="#"><img src="{{customer_logo_square}}" alt="logo" title="{{app_i_id}}"></a>
                </li>
            </ul>
            <ul id="menu-nav" class="nav navbar-nav">
                {{#links}}
                <li class="link-element {{main_class}}">
                    <a href="{{url}}" class="{{resp_class}}">{{text}}</a>
                </li>
                {{/links}}
                <li class="dropdown hidden-xs {{show_dropdown}}">
                    <a href="#" title="more"
                       class="dropdown-toggle"
                       data-toggle="dropdown">
                        <i class="fa fa-bars"></i>
                    </a>
                    <ul id="more" class="dropdown-menu more" role="menu">
                        {{#links}}
                        <li class="link-element">
                            <a href="{{url}}" class="{{drop_class}}">{{text}}</a>
                        </li>
                        {{/links}}
                    </ul>
                </li>
            </ul>
        </nav>
        <ul class="nav navbar-nav navbar-left pull-left">
            <li class="visible-xs">
                <a href="#" class="btn-navbar" data-toggle="collapse" data-target=".navbar-menu" title="">
                    <i class="fa fa-bars"></i>
                </a>
            </li>
        </ul>

        <a href="#" class="visible-xs">
            <img class="img-responsive pull-left" style="max-width: 50px;" src="{{customer_logo_square}}" data-original-title="" title="">
        </a>

        <ul class="nav navbar-nav navbar-right pull-right">
            {{{language}}}
            <li class="divider hidden-xs"></li>
            {{{login}}}
        </ul>
    </div>
</div>